[Unit]
Description=Caddy NaiveProxy (forwardproxy)
Documentation=https://caddyserver.com/docs/ https://github.com/klzgrad/naiveproxy/wiki/Run-Caddy-as-a-daemon
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
User=caddy-naive
Group=caddy-naive
ExecStartPre=/bin/sh -c 'getent passwd caddy-naive > /dev/null || { echo "User caddy-naive does not exist. Run naive-setup.sh first." >&2; exit 1; }'
ExecStart=/opt/caddy-forwardproxy-naive/caddy run --environ --config /etc/caddy/Caddyfile
ExecReload=/opt/caddy-forwardproxy-naive/caddy reload --config /etc/caddy/Caddyfile --force
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
StateDirectory=caddy-naive
NoNewPrivileges=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
